@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Light.ttf') format('truetype');
  /* Adicione outras variações da fonte, se necessário */
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./Roboto-Bold.ttf') format('truetype');
}

#report-table {
  border-collapse: collapse;
  border-spacing: 0;
  // width: 100%;
  margin-top: 3rem;
  margin: 0 2rem;
  width: '100px';
  // style={{ fontSize:'8px', width: '550px'}}
}

th {
  // background: #90caf9;
  padding: 0 1rem;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  text-align: center;
}

.header {
  text-align: center;

  .header-infos {
    margin: 1rem 0;
    // background: red;
    // display: flex;
    
    .header-infos-field {
      font-family: 'Roboto Bold';
      text-align: left;
    }
  }

  img {
    width: 40px;
    margin-bottom: 1.5rem;
  }

  p {
    margin: 0;
  }
}

.footer {
  margin: 2rem 0;
  font-size: 12px;
  text-align: center;

  p {
    margin: 0;
  }
}

.quadro {
  display: flex;
  justify-content: center;
}

/* Estilo para cada coluna */
.coluna {
  padding: 0 0.5rem 2.5rem;
  border: 1px solid black;
  flex-basis: 44%; /* Largura de cada coluna */
}
